Agenda/Agenda/Connected Services/WSCUILGenerator/CUILGeneratorSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CUILGeneratorSVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44311/CUILGeneratorSVC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44311/CUILGeneratorSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSCUIL" />
      <xsd:import schemaLocation="https://localhost:44311/CUILGeneratorSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICUILGeneratorSVC_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICUILGeneratorSVC_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ICUILGeneratorSVC_GetCUIL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCUIL" />
  </wsdl:message>
  <wsdl:message name="ICUILGeneratorSVC_GetCUIL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCUILResponse" />
  </wsdl:message>
  <wsdl:message name="ICUILGeneratorSVC_GetCUIL_ExceptionFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WSCUIL" name="detail" element="q1:ExceptionFaultContract" />
  </wsdl:message>
  <wsdl:portType name="ICUILGeneratorSVC">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICUILGeneratorSVC/DoWork" message="tns:ICUILGeneratorSVC_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICUILGeneratorSVC/DoWorkResponse" message="tns:ICUILGeneratorSVC_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCUIL">
      <wsdl:input wsaw:Action="http://tempuri.org/ICUILGeneratorSVC/GetCUIL" message="tns:ICUILGeneratorSVC_GetCUIL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICUILGeneratorSVC/GetCUILResponse" message="tns:ICUILGeneratorSVC_GetCUIL_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICUILGeneratorSVC/GetCUILExceptionFaultContractFault" name="ExceptionFaultContractFault" message="tns:ICUILGeneratorSVC_GetCUIL_ExceptionFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICUILGeneratorSVC" type="tns:ICUILGeneratorSVC">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICUILGeneratorSVC/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCUIL">
      <soap:operation soapAction="http://tempuri.org/ICUILGeneratorSVC/GetCUIL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFaultContractFault">
        <soap:fault use="literal" name="ExceptionFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CUILGeneratorSVC">
    <wsdl:port name="BasicHttpBinding_ICUILGeneratorSVC" binding="tns:BasicHttpBinding_ICUILGeneratorSVC">
      <soap:address location="http://localhost:52597/CUILGeneratorSVC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>