Agenda/Agenda/Connected Services/WebServiceAreasContactos/areas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAreas">
        <s:complexType />
      </s:element>
      <s:element name="getAreasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAreasResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAreasSoapIn">
    <wsdl:part name="parameters" element="tns:getAreas" />
  </wsdl:message>
  <wsdl:message name="getAreasSoapOut">
    <wsdl:part name="parameters" element="tns:getAreasResponse" />
  </wsdl:message>
  <wsdl:portType name="AreasSoap">
    <wsdl:operation name="getAreas">
      <wsdl:input message="tns:getAreasSoapIn" />
      <wsdl:output message="tns:getAreasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AreasSoap" type="tns:AreasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAreas">
      <soap:operation soapAction="http://tempuri.org/getAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AreasSoap12" type="tns:AreasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAreas">
      <soap12:operation soapAction="http://tempuri.org/getAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Areas">
    <wsdl:port name="AreasSoap" binding="tns:AreasSoap">
      <soap:address location="http://appservicesareas.azurewebsites.net/areas.asmx" />
    </wsdl:port>
    <wsdl:port name="AreasSoap12" binding="tns:AreasSoap12">
      <soap12:address location="http://appservicesareas.azurewebsites.net/areas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>